<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  
  <!-- remote gwt-log servlet -->
  <servlet>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <url-pattern>/qtitesteditor/gwt-log</url-pattern>
  </servlet-mapping>

  <!-- storage servlet -->
  <servlet>
    <servlet-name>storageServiceServlet</servlet-name>
    <servlet-class>eu.ydp.webapistorage.server.StorageServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>storageServiceServlet</servlet-name>
    <url-pattern>/qtipageeditor/api</url-pattern>
  </servlet-mapping>

  <!-- file upload servlet -->
  <servlet>
    <servlet-name>fileUploaderServlet</servlet-name>
    <servlet-class>eu.ydp.webapistorage.server.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileUploaderServlet</servlet-name>
    <url-pattern>/qtipageeditor/fileupload</url-pattern>
  </servlet-mapping>  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>QtiPageEditor.html</welcome-file>
  </welcome-file-list>

</web-app>